<div ...attributes>
  <div class='y-page-content' style="position:absolute;top:0;bottom:0;left:0;right:0">
    <h1>schedule-item {{@route.model.slug}}</h1>
    {{#if (eq @route.model.id 2)}}
      <a href="#" {{on 'click' (fn @route.navigateTo 'track' 1)}}>Part of Track 1</a> |
      <a href="#" {{on 'click' (fn @route.navigateTo 'track' 2)}}>Not Part of Track 2</a>
      <br>
    {{/if}}
    <button {{on 'click' (fn @route.logThenGoToRating)}}>Log Then Rate</button>
    <button {{on 'click' (fn @route.navigate (hash routeName='rating-form' params=@route.params key="rating-form"))}}>Rate</button>
    <button {{on 'click' (fn @route.navigateTo 'person' 1)}}>John Doe</button>
    <textarea rows="8" cols="40" style="border-style: inset;"></textarea>
    <VerticalPanDetectorPane>
      <ClickablePane />
    </VerticalPanDetectorPane>
  </div>
</div>
