<div id='yapp-application' class={{if this.birdsEyeDebugging 'birds-eye-debugging' ''}}>
  {{#each (nav-layer-indices) as |layerIndex|}}
    {{!-- template-lint-disable no-route-action --}}
    <NavStack
      @layer={{layerIndex}}
      @footer={{if (eq layerIndex 0) (component 'tab-bar')}}
      @back={{route-action 'back'}}
      @birdsEyeDebugging={{this.birdsEyeDebugging}}
    />
  {{/each}}
</div>

{{outlet}}
